.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: 1px solid black;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}
.nav-items > ul > li {
  padding: 10px;
}
.logo {
  width: 100px;
}
.card {
  width: 200px;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.card > img {
  width: 100%;
}

.restaurant-list {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: 10px;
  background-color: lightgrey;
}

.menu-items {
  /* background-color: brown; */
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.menu-items > .menu-item > img {
  width: 80%;
  height: 75%;
}
